A { color:#000000; text-decoration:none; }
A.whitelink { color:#FFFFFF; text-decoration:none; }
.blacklink { color:#000000; text-decoration:none; }
.bluelink { color:#0000FF; text-decoration:none; }
A:hover { color:#AABBDD; text-decoration:underline; }
A:hover.blacklink { color:#000000; text-decoration:underline; }
A:hover.bluelink { color:#0000FF; background-color: #FFFF33; text-decoration:underline; }

TR.header {
	background-color: #aabbdd;
}

TR.headerNavigation {
	background-color: #000000;
}

TD.headerNavigation {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	background-color: #000000;
	color: #ffffff;
	font-weight : bold;
}

TR.headerError {
	background-color: #ff0000;
}

TD.headerError {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	background-color: #ff0000;
	color: #ffffff;
	font-weight : bold;
	text-align : center;
}

TR.headerInfo {
	background-color: #00ff00;
}

TD.headerInfo {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	background-color: #00ff00;
	color: #ffffff;
	font-weight : bold;
	text-align : center;
}

TABLE.infoBoxHeading {
	background-color : #aabbdd;
	border-color : #000000;
	border-style : solid;
	border-width : 1px;
}
TD.infoBoxHeading {
	font-family : Tahoma, Verdana, Arial, sans-serif;
	font-size : 12px;
}

TD.infoBox {
	font-family : Verdana, Arial, sans-serif;
	font-size : 10px;
}

TABLE.topBarTitle {
	background-color : #aabbdd;
	border-color : #000000;
	border-style : solid;
	border-width : 1px;
}

TD.topBarTitle {
	font-family : Tahoma, Verdana, Arial, sans-serif;
	font-size : 12px;
}

TR.productListing-odd {
	background-color : #ffffff;
}

TR.productListing-even {
	background-color : #f4f7fd;
}

TR.productListing-heading {
	background-color : #d2e9fb;
}

TD.productListing-heading {
	font-family : Verdana, Arial, sans-serif;
	font-size : 10px;
    background-color : #d2e9fb;
	color : #000000;
	font-weight : bold;
	font-variant : small-caps;
}

TD.productListing-data {
	font-family : Verdana, Arial, sans-serif;
	font-size : 10px;
}

TD.pageHeading, DIV.pageHeading {
    font-family : Verdana, Arial, sans-serif;
    font-size : 18px;
}

TR.subBar {
    background-color : #f4f7fd;
}

TD.subBar {
    font-family : Verdana, Arial, sans-serif;
    font-size : 10px;
    color : #000000;
}

TD.main, P.main {
    font-family : Verdana, Arial, sans-serif;
    font-size : 12px;
}

TD.smallText, SPAN.smallText {
    font-family : Verdana, Arial, sans-serif;
    font-size : 10px;
}

TD.accountCategory {
    font-family : Verdana, Arial, sans-serif;
    font-size : 13px;
    color : #aabbdd;
}

TD.fieldKey {
    font-family : Verdana, Arial, sans-serif;
    font-size : 12px;
    font-weight : bold;
}

TD.fieldValue {
    font-family : Verdana, Arial, sans-serif;
    font-size : 12px;
}

TD.tableHeading {
    font-family : Verdana, Arial, sans-serif;
    font-size : 12px;
    font-weight : bold;
}

TD.footer {
    font-family : Verdana, Arial, sans-serif;
    font-size : 10px;
    font-weight : bold;
}