BODY {
  background-color: #ffffff;
  color: #000000;
}

A { 
  color: #000000; 
  text-decoration: none; 
}

A:hover { 
  color:#AABBDD; 
  text-decoration:underline; 
}

.bluelink { color:#0000FF; text-decoration:none; }
A:hover.bluelink { color:#0000FF; background-color: #FFFF33; text-decoration:underline; }

TR.header {
  background-color: #aabbdd;
}

TR.headerNavigation {
  background-color: #000000;
}

TD.headerNavigation {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background-color: #000000;
  color: #ffffff;
  font-weight : bold;
}

A.headerNavigationLink { 
  color: #FFFFFF; 
}

TR.headerError {
  background-color: #ff0000;
}

TD.headerError {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background-color: #ff0000;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

TR.headerInfo {
  background-color: #00ff00;
}

TD.headerInfo {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background-color: #00ff00;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

TR.footer {
  background-color : #000000;
}

TD.footer {
  font-family : Tahoma, Verdana, Arial, sans-serif;
  font-size : 12px;
  color : #ffffff;
  font-weight : bold;
}

TABLE.infoBoxHeading {
  background-color : #aabbdd;
  border-color : #000000;
  border-style : solid;
  border-width : 1px;
}

TD.infoBoxHeading {
  font-family : Tahoma, Verdana, Arial, sans-serif;
  font-size : 12px;
}

A.infoBoxHeading { 
  color: #000000; 
}

A:hover.infoBoxHeading { 
  color: #000000; 
}

TD.infoBox, SPAN.infoBox {
  font-family : Verdana, Arial, sans-serif;
  font-size : 10px;
}

TABLE.topBarTitle {
  background-color : #aabbdd;
  border-color : #000000;
  border-style : solid;
  border-width : 1px;
}

TD.topBarTitle {
  font-family : Tahoma, Verdana, Arial, sans-serif;
  font-size : 12px;
}

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
  background-color : #f4f7fd;
}

TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
  background-color : #ffffff;
}

TR.productListing-heading {
  background-color : #d2e9fb;
}

TD.productListing-heading {
  font-family : Verdana, Arial, sans-serif;
  font-size : 10px;
  background-color : #d2e9fb;
  color : #000000;
  font-weight : bold;
  font-variant : small-caps;
}

TD.productListing-data {
  font-family : Verdana, Arial, sans-serif;
  font-size : 10px;
}

TD.pageHeading, DIV.pageHeading {
  font-family : Verdana, Arial, sans-serif;
  font-size : 18px;
}

TR.subBar {
  background-color : #f4f7fd;
}

TD.subBar {
  font-family : Verdana, Arial, sans-serif;
  font-size : 10px;
  color : #000000;
}

TD.main, P.main {
  font-family : Verdana, Arial, sans-serif;
  font-size : 12px;
}

TD.smallText, SPAN.smallText {
  font-family : Verdana, Arial, sans-serif;
  font-size : 10px;
}

TD.accountCategory {
  font-family : Verdana, Arial, sans-serif;
  font-size : 13px;
  color : #aabbdd;
}

TD.fieldKey {
  font-family : Verdana, Arial, sans-serif;
  font-size : 12px;
  font-weight : bold;
}

TD.fieldValue {
  font-family : Verdana, Arial, sans-serif;
  font-size : 12px;
}

TD.tableHeading {
  font-family : Verdana, Arial, sans-serif;
  font-size : 12px;
  font-weight : bold;
}

SPAN.newItemInCart {
  font-family : Verdana, Arial, sans-serif;
  font-size : 10px;
  color : #ff0000;
}

CHECKBOX, INPUT, RADIO, SELECT, TEXTAREA {
  font-family : Verdana, Arial, sans-serif;
  font-size : 11px;
}

SPAN.greetUser {
  font-family : Verdana, Arial, sans-serif;
  font-size : 12px;
  color : #f0a480;
  font-weight : bold;
}

TABLE.formArea {
  background-color : #f1f9fe;
  border-color : #7b9ebd;
  border-style : solid;
  border-width : 1px;
}

TD.formAreaTitle {
  font-family : Tahoma, Verdana, Arial, sans-serif;
  font-size : 12px;
  font-weight : bold;
}

SPAN.markProductOutOfStock {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #c76170;
  font-weight : bold;
}

SPAN.productSpecialPrice {
  font-family: Verdana, Arial, sans-serif;
  color: #ff0000;
}

TD.checkoutBar {
  font-family : Verdana, Arial, sans-serif;
  font-size : 10px;
  color: #aabbdd;
}

SPAN.checkoutBarHighlighted {
  font-family : Verdana, Arial, sans-serif;
  font-size : 10px;
  color: #000000;
}
