A { color:#000000; text-decoration:none; }
A.whitelink { color:#FFFFFF; text-decoration:none; }
.blacklink { color:#000000; text-decoration:none; }
.bluelink { color:#0000FF; text-decoration:none; }
A:hover { color:#AABBDD; text-decoration:underline; }
A:hover.blacklink { color:#000000; text-decoration:underline; }
A:hover.bluelink { color:#0000FF; background-color: #FFFF33; text-decoration:underline; }
.boxborder { border-color:#000000; border-style:solid; border-width:1; }
.specialPrice { color: #ff0000; }
.oldPrice { text-decoration: line-through; }

BODY {
  background-color: #ffffff;
  color: #000000;
  margin: 0px;
}

TR.header {
	background-color: #aabbdd;
}

TR.headerNavigation {
	background-color: #000000;
	color: #ffffff;
}

TD.headerNavigation {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight : bold;
}

TR.footer {
  background-color : #000000;
  color : #ffffff;
}

TD.footer {
  font-family : Tahoma, Verdana, Arial, sans-serif;
  font-size : 12px;
  font-weight : bold;
}

TD.menuBoxHeading {
	font-family : Tahoma, Verdana, Arial, sans-serif;
	font-size : 12px;
	background-color : #aabbdd;
	border-color : #000000;
	border-style : solid;
	border-width : 1px;
}

TD.infoBoxHeading {
	font-family : Tahoma, Verdana, Arial, sans-serif;
	font-size : 10px;
  font-weight: bold;
}

A.infoBoxHeading:hover {
  color : #000000;
  text-decoration: underline;
}

TD.infoBox, SPAN.infoBox {
	font-family : Verdana, Arial, sans-serif;
	font-size : 10px;
}

TR.selectedRow, TD.box {
  background-color: #b0c8df;
}

TR.boxHeading {
  background-color: #81a2b6;
}

TABLE.topBarTitle {
  background-color : #aabbdd;
  border-color : #000000;
  border-style : solid;
  border-width : 1px;
}

TD.topBarTitle {
  font-family : Tahoma, Verdana, Arial, sans-serif;
  font-size : 12px;
}

TD.pageHeading, DIV.pageHeading {
  font-family : Verdana, Arial, sans-serif;
  font-size : 18px;
}

TR.subBar {
  background-color : #f4f7fd;
}

TD.subBar {
  font-family : Verdana, Arial, sans-serif;
  font-size : 10px;
  color : #000000;
}

TD.tableHeading {
  font-family : Verdana, Arial, sans-serif;
  font-size : 10px;
  font-weight : bold;
}

TR.tableRow {
  background-color: #d8e1eb;
}

TR.tableRowOver {
  background-color: #cc9999;
}

TD.smallText, SPAN.smallText, TD.tableData {
  font-family : Verdana, Arial, sans-serif;
  font-size : 10px;
}

TD.main, P.main {
  font-family : Verdana, Arial, sans-serif;
  font-size : 12px;
}

CHECKBOX, INPUT, RADIO, SELECT, TEXTAREA {
  font-family : Verdana, Arial, sans-serif;
  font-size : 11px;
}

TD.formArea {
  background-color : #f1f9fe;
  border-color : #7b9ebd;
  border-style : solid;
  border-width : 1px;
}

TD.formAreaTitle {
  font-family : Tahoma, Verdana, Arial, sans-serif;
  font-size : 12px;
  font-weight : bold;
}
